.ins-c-gauge-widget {
  --ins-c-gauge--Width:                                     12.5rem;
  --ins-c-gauge--Height:                                    12.5rem;
  --ins-c-gauge-widget__graph--Width:                       12.5rem;
  --ins-c-gauge-widget__graph--MarginRight:                 var(--pf-global--spacer--md);
  --ins-c-gauge-widget__legend--FlexBasis--sm:              8.75rem;
  --ins-c-gauge-widget__legend--FlexBasis:                  10rem;
  --ins-c-gauge-widget__legend-list--MarginTop:             var(--pf-global--spacer--sm);
  --ins-c-gauge-widget__legend-list--MarginBottom:          var(--pf-global--spacer--sm);
  --ins-c-gauge-widget__legend-list-count--Color:           var(--pf-global--Color--100);
  --ins-c-gauge-widget__legend-list-count--MarginRight:     var(--pf-global--spacer--sm);
  --ins-c-gauge-widget__legend-list-count--FlexBasis:       auto;
  --ins-c-gauge-widget__legend-item--MarginTop:             var(--pf-global--spacer--md);
  --ins-c-gauge-widget__metrics-percentage:                 var(--pf-global--FontSize--4xl);
  --ins-c-gauge-widget__metrics-change-text--MarginRight:   var(--pf-global--spacer--sm);
  --ins-c-gauge-widget__metrics-change-timeframe--Color:    #8b8d8f;
  --ins-c-guage-widget__metrics-change--m-positive: var(--pf-global--success-color--100);
  --ins-c-guage-widget__metrics-change--m-negative: var(--pf-global--danger-color--100);
  --ins-c-gauge-widget__legend--m-emphasis--FontSize: var(--pf-global--FontSize--2xl);
  --ins-c-gauge-widget__legend--m-dark--Color: #8b8d8f;
  --ins-c-gauge-widget__legend-list-item--m-special--MarginBottom: var(--pf-global--spacer--md);
  display: flex;
  flex-flow: row wrap; }
  @media screen and (max-width: 576px) {
    .ins-c-gauge-widget {
      justify-content: center; } }
  @media screen and (min-width: 992px) {
    .ins-c-gauge-widget {
      flex-wrap: nowrap; } }

.ins-c-gauge-widget__graph {
  display: grid;
  flex: none;
  justify-self: center;
  margin-right: var(--ins-c-gauge-widget__graph--MarginRight); }
  @media screen and (min-width: 576px) {
    .ins-c-gauge-widget__graph {
      justify-self: left;
      width: var(--ins-c-gauge-widget__graph--Width); } }
  .ins-c-gauge-widget__graph svg {
    margin-top: -16px;
    margin-left: -25px; }

.ins-c-gauge-widget__metrics {
  grid-area: 1 / 1;
  align-self: center;
  justify-self: center; }

.ins-c-gauge-widget__metrics-percentage {
  font-size: var(--ins-c-gauge-widget__metrics-percentage); }

.ins-c-gauge-widget__metrics-change {
  color: var(--ins-c-guage-widget__metrics-change--m-positive); }
  .ins-c-gauge-widget__metrics-change.ins-m-negative {
    color: var(--ins-c-guage-widget__metrics-change--m-negative); }

.ins-c-gauge-widget__metrics-change-text {
  margin-right: var(--ins-c-gauge-widget__metrics-change-text--MarginRight); }

.ins-c-gauge-widget__metrics-change-timeframe {
  color: var(--ins-c-gauge-widget__metrics-change-timeframe--Color); }

.ins-c-gauge-widget__legend {
  display: flex;
  flex-flow: column nowrap;
  flex: 1 0 var(--ins-c-gauge-widget__legend--FlexBasis--sm);
  align-self: center; }
  @media screen and (min-width: 768px) {
    .ins-c-gauge-widget__legend {
      flex-basis: var(--ins-c-gauge-widget__legend--FlexBasis); } }
  .ins-c-gauge-widget__legend > * + * {
    margin-top: var(--ins-c-gauge-widget__legend-item--MarginTop); }
  .ins-c-gauge-widget__legend .ins-m-emphasis {
    font-size: var(--ins-c-gauge-widget__legend--m-emphasis--FontSize); }
  .ins-c-gauge-widget__legend .ins-m-dark {
    color: var(--ins-c-gauge-widget__legend--m-dark--Color); }

.ins-c-gauge-widget__legend-list-item {
  display: flex;
  align-items: baseline;
  margin-top: var(--ins-c-gauge-widget__legend-list--MarginTop);
  margin-bottom: var(--ins-c-gauge-widget__legend-list--MarginBottom); }
  .ins-c-gauge-widget__legend-list-item.ins-m-special {
    margin-bottom: var(--ins-c-gauge-widget__legend-list-item--m-special--MarginBottom); }

.ins-c-gauge-widget__legend-list-count {
  margin-right: var(--ins-c-gauge-widget__legend-list-count--MarginRight); }

.ins-c-gauge-widget__legend-list-type {
  color: var(--ins-c-gauge-widget__legend-list-type--Color); }

.ins-c-gauge {
  grid-area: 1 / 1;
  width: var(--ins-c-gauge--Width);
  height: var(--ins-c-gauge--Height);
  overflow: hidden; }

.ins-c-gauge-widget--disabled .ins-c-gauge .c3-chart-arcs-background {
  fill: #343435; }

.ins-c-gauge-widget--disabled .ins-c-gauge-widget__metrics {
  color: #343435; }

.ins-c-gauge-widget--disabled .ins-c-gauge-widget__disabled--legend .pf-l-stack {
  display: flex;
  align-items: center;
  justify-content: center; }

